/*For Testing */
/* body {
    background-color: blue;
}*/

#number-one{
    color: red; font-size: 14px;
}

#number-two{
    font-size: 14px;
}

.first-class{
    color: blue;
}

.second-class{
    font-size: 24px;
}
